/*
  ===COLORS===
  ---Custom purple---
  rgb(128,0,128)
  linear-gradient(135deg, rgba(128,0,128,0.75) 0%, rgba(230,230,250,0.5) 100%)

  ---Victoria Purple---
  rgb(49,42,108)
  linear-gradient(45deg, rgba(49,42,108,1) 0%, rgba(133,45,145,1) 100%);

  ---Purple Lake--
  rgb(102,45,140)
  linear-gradient(45deg, rgba(102,45,140,1) 0%, rgba(237,30,121,1) 100%);
*/

/*
  ===
  === General ===
  ===
*/

body {
  font-family: 'Poppins', sans-serif !important;
  overflow-y: auto;
  position: relative;
}

/*
  ===
  === Navbar ===
  ===
*/

.navbar {
  background: rgb(128,0,128);
  z-index: 10;
}

.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  background-color: #fff;
  color: rgb(128,0,128) !important;
}

.navbar-toggler {
  background-color: #fff;
}

#btn-dona {
  background: rgba(230, 230, 250);
}

/*
  ===
  === Title Section ===
  ===
*/

.title-section {
  background:
    linear-gradient(135deg, rgba(128,0,128,0.75) 0%, rgba(230,230,250,0.5) 100%),
    url("../assets/img/hero-image.JPG")
    center/cover;
  background-attachment: fixed;
  color: #fff;
  height: 100vh;
  /* padding: 200px 0px; */
}
/*
  --- iPad with portrait orientation. ---
*/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
  .title-section {
    height: 1024px;
  }
}
/*
  --- iPad with landscape orientation. ---
*/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
  .title-section {
    height: 768px;
  }
}
/*
  --- iPhone 5 ---
*/
@media screen and (device-aspect-ratio: 40/71) {
  .title-section {
    height: 500px;
  }
}

.title-content {
  height: 100%;
}

/*
  ===
  === Sections ===
  ===
*/

h2 {
  color: rgb(128,0,128);
  font-size: 48px;
}

hr {
  border: 5px solid rgb(128,0,128);
  border-radius: 5px;
  width: 70px;
}

/*
  --- Quienes somos ---
*/

#quienes-somos h4 {
  font-weight: 600;
}

#quienes-somos h5 {
  font-weight: bold;
}

/*
  --- Que ofrecemos ---
*/
#que-ofrecemos {
  background: rgba(230, 230, 250, 0.3);
}

#que-ofrecemos img {
  box-shadow: 4px 4px 30px 2px rgba(0, 0, 0, 0.3);
  height: auto;
  max-width: 100%;
}

#que-ofrecemos a > p {
  font-size: 1.25em;
  padding-top: 5%;
}

#que-ofrecemos a {
  color: inherit;
  text-decoration: none;
}

#que-ofrecemos h3 {
  color: rgb(128,0,128);
  font-weight: 400;
}

#que-ofrecemos h4 {
  color: rgb(128,0,128);
  font-weight: 600;
}

/*
  --- Alianzas ---
*/

#alianzas img {
  height: auto;
  max-width: 100%;
}

/*
  --- Equipo ---
*/
#equipo {
  background: rgba(230, 230, 250, 0.3);
}

#equipo img {
  border-radius: 50%;
  box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.3);
  height: auto;
  max-width: 100%;
}

#equipo p {
  font-size: 1.25em;
  padding-top: 5%;
}

/*
  --- Contacto ---
*/
.contact-icons {
  padding: 0 1em;
}

#contacto a {
  color: inherit;
  text-decoration: none;
}

.contact-phone:hover {
  color: rgb(0,129,198);
}

.contact-email:hover {
  color: rgb(124,117,117);
}

.contact-social-networks:hover {
  color: rgb(128,0,128);
}

.contact-address:hover {
  color: rgb(14,149,119);
}

/*
  ===
  === Footer ===
  ===
*/

footer {
  background: rgb(128,0,128);
  color: #fff;
}

.oi-chevron-top {
  color: #fff;
  font-size: 24px;
}

.oi-chevron-top:hover {
  color: lightgrey;
}

.oi-code {
  color: lightgrey;
  padding: 0 2px;
}

.oi-heart {
  color: red;
  padding: 0 2px;
}

.oi-bolt {
  color: yellow;
  padding: 0 2px;
}

footer p a {
  color: inherit;
  text-decoration: none;
}

#gerardoOsioLink:hover {
  color: rgb(253,112,20);
  text-decoration: none;
}

#thunderMXLink:hover {
  color: yellow;
  text-decoration: none;
}